/* Reset CSS */
* {
   /* Maergem */
   margin: 0;
   box-sizing: border-box;
}


body {
    /*  Cor Fundo */
    background-color: #f3efdb;

    /* Cor Textos */
    color: #580303;


 }

  /* Seletor para os A */
a {
    /* Propriedade e Valor */
    text-decoration: none;
    color: black ;
}





/* Header */
header {
    /* ROW  linha horizontal */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0e3bf;
    /* largura ou comprimento */
    width: 100%;
}
/* UL */
.menu {
    list-style: none;
    /* lista Horizintal */
    display: flex;
    /* Espaço entre TAGS */
    gap: 1rem;
}
/*  TAG NAV */
.menu-desktop{
    display: none;

}
 /* Daqui par cima versão Mobile */

    /* Responsivo */

    /* Serve para Telas Maiores */

    /*  Telas Maiores que 768px */

    @media(min-width: 768px) {
        header {
        /* espaço inteiro  */
        padding: 1rem 6rem;
        }

        /* NAV */
        .menu-desktop{
            display: flex;
            justify-content:;
            gap: ;
        }
    }
